<!DOCTYPE html>
<html lang=en>
  <head>
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width">
    <link rel=icon href=data:,>
    {% block css %}
      <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}">
    {% endblock css %}
  </head>
  <body>

    <!-- <main> -->
      <!--   <h1>{{ config.title }}</h1> -->
      <!--   <nav> -->
	<!--     <ul> -->
	  <!--       <li><a href="about/">about</a></li> -->
	  <!--       <li><a href="configs/">configs</a></li> -->
	  <!--       <li><a href="etc/">etc</a></li> -->
	  <!--       <li><a href="joy/">joy</a></li> -->
	  <!--       <li><a href="m/">m</a></li> -->
	  <!--       <li><a href="uses/">uses</a></li> -->
	  <!--     </ul> -->
	<!--   </nav> -->


      {% block content %}
	{% block header %}
	  {# {% if config.extra.after_dark_menu %} #}
	  {#   <header> #}
	  {#     <nav itemscope itemtype="http://schema.org/SiteNavigationElement"> #}
	  {# 	{% for item in config.extra.after_dark_menu %} #}
	  {# 	  <a itemprop="url" #}
	  {# 	     class="{% if item.url | replace(from="$BASE_URL", to=config.base_url) == current_url %}active{% endif %}" #}
	  {# 	     href="{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) }}"> #}
	  {# 	     <span itemprop="name">{{ item.name }} #}
	  {# 	  </span></a> #}
	  {# 	{% endfor %} #}
	  {#     </nav> #}
	  {#   </header> #}
	  {# {% endif %} #}
	{% endblock header %}

	<main>
	  {# {% if config.extra.after_dark_title %} #}
	  {#   <header> #}
          {#     <h1>{{ config.extra.after_dark_title }}</h1> #}
	  {#   </header> #}
	  {# {% endif %} #}
	  {% for page in paginator.pages %}
	  {% endfor %}

	  <nav>
            <p>
              {% if paginator.previous %}
		<a href="{{ paginator.previous }}">&laquo; Previous</a> |
              {% endif %}
              <span>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>
              {% if paginator.next %}
		| <a href="{{ paginator.next }}">Next &raquo;</a>
              {% endif %}
            </p>
	  </nav>
	</main>
      {% endblock content %}
      
      <!-- </main> -->
  </body>
</html>
